body {
    font-family: Arial, sans-serif;
    background-image: url(currency-image.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #0A0708;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    width: 300px;
}

h1 {
    margin-bottom: 20px;
    color: white;
    font-weight: 800;
}

.converter {
    margin-bottom: 20px;
}

.converter div {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

input, select, button {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    background-color: #B1B1B1;
}

button {
    background-color: #FFD700;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #ffd900de;
}

#result {
    font-size: 1.2em;
    margin-top: 20px;
    color: white;
}
